server.port: {{ kibana_port }}
server.host: "0.0.0.0"

server.ssl.enabled: true
elasticsearch.hosts: {{ kibana_elasticsearch_hosts }}
server.publicBaseUrl: "https://{{ ansible_host }}.{{ domain_name }}:{{ kibana_port }}"
server.ssl.certificate: /etc/kibana/certs/wildcard.crt
server.ssl.key: /etc/kibana/certs/wildcard.key

elasticsearch.ssl.certificateAuthorities: "/etc/kibana/certs/ca.crt"
elasticsearch.username: "kibana_system"
elasticsearch.password: "{{ kibana_system_pass }}"

elasticsearch.requestTimeout: 120000
xpack.reporting.queue.timeout: 120000

## The default application to load.
{% if kibana_default_dashboard_id is defined %}
server.defaultRoute: "/app/dashboards#/view/{{ kibana_default_dashboard_id }}"
{% else %}
#server.defaultRoute: "/app/dashboards#/view/123"
{% endif %}

map.tilemap.url: https://a.tile.openstreetmap.org/{z}/{x}/{y}.png

#xpack.encryptedSavedObjects.encryptionKey: 3a8b731481c8a50e42b91d1a98a69607
#xpack.reporting.encryptionKey: 382e1a01762c5eba426aa769499a880c
#xpack.security.encryptionKey: 85be1e66bf968bcca3619384b81199cb


logging:
  appenders:
    file:
      type: file
      fileName: /var/log/kibana/kibana.log
      layout:
        type: json
  root:
    appenders:
      - default
      - file
      
# Specifies the path where Kibana creates the process ID file.
pid.file: /run/kibana/kibana.pid


monitoring.ui.ccs.enabled: false

{% if elastic_agent_fleet_server_hosts is defined %}
xpack.fleet.agents.fleet_server.hosts: [{{ elastic_agent_fleet_server_hosts }}]
{% else %}
#xpack.fleet.agents.fleet_server.hosts: []
{% endif %}

{% if elastic_agent_fleet_server_es_output is defined %}
xpack.fleet.outputs: [{id: fleet-default-output, name: default, is_default: true, is_default_monitoring: true, type: elasticsearch, hosts: [{{ elastic_agent_fleet_server_es_output }}] }]
{% else %}
#xpack.fleet.outputs: [{id: fleet-default-output, name: default, is_default: true, is_default_monitoring: true, type: elasticsearch, hosts: [] }]
{% endif %}


